.mat-form-field {
  display: inherit;
  position: relative;
  text-align: left;
}
.highlighted {
  background-color: #93BE52;
}
.btn1 {
  font-size: 12px;
  padding: 8px 18px;
}
.dis {
  pointer-events: none;
  opacity: 0.7;
}
.disabledBtn { cursor: not-allowed; }