label{
  font-size:13px
 }

 tr,td{
   font-size:13px;
   text-align: center;
   padding: 5px;
 }

 .disabledBtn { cursor: not-allowed; }

 .btn1 {
   font-size: 12px;
   padding: 3px 3px;
 }

 .form-control{
   color:black
 }

 thead{
  background-color:#4680FF;
  color:white;
 }
