<div class="row" style="margin-top:20px">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ngx-loading [show]="bln_loading" [config]="{ backdropBorderRadius: '0' , fullScreenBackdrop:true}"></ngx-loading>
        <div class="row" style="background-color:#4680FF; padding:10px;">
          <div class="col-lg-12">
            <span style='text-align: center;color:white'> Password Policy</span>
          </div>
        </div>
        <br>
          <form [formGroup]="passwordComplexityForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>
                              Password Length :
                            </label>
                            <div class="input-group">
                              <input type="text"  formControlName="passwordLength" class="form-control" maxlength="2" (keypress)="onlyNumbers($event);">
                            </div>
                            <div *ngIf="!passwordLength.valid && passwordLength.touched" style="color:red;margin-top:3px;font-weight: bold;">
                              {{passwordLength?.errors['required']}}
                            </div>
                          </div>
                      <div class="col-md-3">
                        <label>
                          Special Characters :
                        </label>
                        <div class="input-group">
                          <input type="text"  formControlName="specialCharacters" class="form-control" maxlength="1"
                          (keypress)="onlyNumbers($event);">
                        </div>
                        <div *ngIf="!specialCharacters.valid && specialCharacters.touched" style="color:red;margin-top:3px;font-weight: bold;">
                          {{specialCharacters?.errors['required']}}
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>
                         Numeric :
                        </label>
                        <div class="input-group">
                          <input type="text"  formControlName="numericLength" class="form-control" maxlength="1"
                          (keypress)="onlyNumbers($event);">
                        </div>
                        <div *ngIf="!numericLength.valid && numericLength.touched" style="color:red;margin-top:3px;font-weight: bold;">
                          {{numericLength?.errors['required']}}
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>
                          Alphabet (Uppercase) :
                        </label>
                        <div class="input-group">
                          <input type="text"  formControlName="alphabetUppercase" class="form-control" maxlength="1"
                          (keypress)="onlyNumbers($event);">
                        </div>
                        <div *ngIf="!alphabetUppercase.valid && alphabetUppercase.touched" style="color:red;margin-top:3px;font-weight: bold;">
                          {{alphabetUppercase?.errors['required']}}
                        </div>
                      </div>

                    </div>
                    <br>
                      <div class="text-center">
                        <button type="submit" [disabled]="!passwordComplexityForm.valid"
                        [ngClass]="{'disabledBtn' : !passwordComplexityForm.valid}"
                        class="btn btn-primary">Save
                          Changes</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
