.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.btn {
  width:100%;
}

.shadow {
  -webkit-box-shadow: 4px 3px 6px 0px rgba(55, 50, 50, 0.87);
-moz-box-shadow:    4px 3px 6px 0px rgba(55, 50, 50, 0.87);
box-shadow:         4px 3px 6px 0px rgba(55, 50, 50, 0.87);
}
input.ng-valid {
  border: none;
}
input.ng-invalid {
  border: none;
}

.disabledBtn { cursor: not-allowed; }
