<div class="row" style="margin-top:20px">
  <div class="col-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0' , fullScreenBackdrop:true}"></ngx-loading>
    <div class="row" style="padding-top:50px;">
      <div class="col-md-4 col-sm-2"></div>
      <div class="col-md-4 col-sm-8">
        <div class="card">
          <div class="card-body">
            <b style="text-align: center">Change Password</b>
            <br>
            <hr>
            <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="example-full-width">
                <input [type]="hide ? 'text' : 'password'" matInput placeholder="Please enter your old password"
                  formControlName='old_password' autocomplete="off"
                  (keydown.space)="$event.preventDefault()" >

                <mat-icon matSuffix (click)="hide = !hide"><i class="mdi mdi-eye"></i>{{hide ? '' : ''}}</mat-icon>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input [type]="hide1 ? 'text' : 'password'" matInput placeholder="Please enter new password"
                  formControlName='new_password' autocomplete="off"  (keypress)="omit_special_char($event)" (keyup)="passwordKey($event)" (keydown.space)="$event.preventDefault()">
                <mat-icon matSuffix (click)="hide1 = !hide1"><i class="mdi mdi-eye"></i>{{hide1 ? '' : ''}}</mat-icon>
              </mat-form-field>
              <div *ngIf="alertMessage" style="color:Red">
                <b> {{alertMessageText}}    </b>
                 </div>
              <div *ngIf="myForm.controls['new_password'].touched">
                <div *ngIf="myForm.controls['new_password'].errors?.history">
                  <b style="color:red;">*Password Present in history</b>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <input [type]="hide2 ? 'text' : 'password'" matInput placeholder="Confirm Password"  (keypress)="omit_special_char($event)" formControlName="conform_password"
                  autocomplete="off" (keydown.space)="$event.preventDefault()">
                <mat-icon matSuffix (click)="hide2 = !hide2"><i class="mdi mdi-eye"></i>{{hide2 ? '' : ''}}</mat-icon>
              </mat-form-field>
              <div *ngIf="myForm.controls['conform_password'].dirty">
                <div *ngIf="myForm.controls['conform_password'].errors?.matchOther">
                  <b style="color:red;">*Password mismatched</b>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Remark" rows='5' formControlName='remark' autocomplete="off"></textarea>
              </mat-form-field>
              <div class="row" *ngIf="forced==0">
                <div class="col-sm-4">
                  <button type="submit" [disabled]="myForm.pristine || myForm.invalid"
                  [ngClass]="{'disabledBtn' : !myForm.valid}"
                  class="btn btn-primary btn-outline-primary">Save</button>
                </div>
                <div class="col-sm-4">
                  <button type="button" (click)='resetForm()' class="btn btn-inverse btn-outline-inverse">Reset</button>
                </div>
                <div class="col-sm-4">
                  <button type="button" (click)='home()' class="btn btn-success btn-outline-success">Home</button>
                </div>
              </div>
              <div class="row" *ngIf="forced==1">
                <div class="col-sm-6">
                  <button type="submit" [disabled]="myForm.pristine || myForm.invalid"
                  [ngClass]="{'disabledBtn' : !myForm.valid}"
                  class="btn btn-primary btn-outline-primary">Save</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" (click)='resetForm()' class="btn btn-inverse btn-outline-inverse">Reset</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-2"></div>
    </div>

  </div>
</div>
