<ngx-loading [show]="bln_loading" [config]="{ backdropBorderRadius: '0' , fullScreenBackdrop:true}"></ngx-loading>
<div class="row" style="margin-top:20px">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
         <div class="row" style="background-color:#4680FF; padding:10px;">
          <div class="col-lg-12">
            <span style='text-align: center;color:white'> Add Role</span>
          </div>
        </div>
        <br>
        <form [formGroup]="roleForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icofont icofont-users-alt-2"></i>
                </span>
                <input type="text"  class="form-control" placeholder="Enter Role" formControlName="enterRole"
                (keyup)="onKey($event)" maxlength="50">
              </div>
              <div *ngIf="!enterRole.valid && enterRole.touched" style="color:red;margin-top:3px;font-weight: bold;">
                  {{enterRole?.errors['required']}}
                </div>
              <div style="color:red;margin-top:3px;font-weight: bold;" *ngIf="bln_showWarning">
                Role name already Exists!</div>
            </div>
          </div>
          <br>
          <div class="row" style="background-color:#4680FF; padding:10px;">
            <div class="col-lg-12">
              <span style='text-align: center;color:white'> Assign Rights to Role</span>
            </div>
          </div>
          <br>
          <div class="pretty p-svg p-curve" style="font-size:14px">
            <input type="checkbox" (change)="selectAll(flag)"  />
            <div class="state p-primary">
              <svg class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                  style="stroke: white;fill:white;"></path>
              </svg>
              <label>Select All</label>
            </div>
          </div>
          <br>
          <br>

          <div class="row" >
            <div class="col-lg-3" *ngFor="let role of sarr_loggedUserRoles;let i = index">
              <div class="pretty p-svg p-curve" formArrayName="roles" style="font-size:14px" [class.disabled]="flag">
                <input type="checkbox" [formControlName]="i" (change)="selectOne(role, $event.target.checked)" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white;fill:white;"></path>
                  </svg>
                  <label> {{role}}</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" [disabled]="!roleForm.valid || bln_exist == true" [ngClass]="{'disabledBtn' : !roleForm.valid || bln_exist == true}" class="btn btn-primary">Save
              Changes</button>
              &nbsp;&nbsp;&nbsp;
             <button type="button" class="btn btn-default waves-effect" (click)="reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
