<ngx-loading [show]="bln_loading" [config]="{ backdropBorderRadius: '0' , fullScreenBackdrop:true}"></ngx-loading>
<div class="row" style="margin-top:20px">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row" style="background-color:#4680FF; padding:10px;">
          <div class="col-lg-12">
            <span style='text-align: center;color:white'> Recalibration</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label>
              Select Type :
            </label>
            <ngx-select style="padding: 6px;" [items]="sarr_equipmentType" placeholder="Select Type" (select)="onSelectType($event)">
            </ngx-select>
          </div>
          <div class="col-md-6">
            <label>
              Select Code No :
            </label>
            <ngx-select style="padding: 6px;" [items]="sarr_equipmentID" placeholder="Select ID" (select)="onSelectID($event)">
            </ngx-select>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="bln_showDetails">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table-bordered" width="100%">
              <thead style="background-color:grey;color:white;font-size:20px">
                <tr>
                  <td style="width: 33%">Code No</td>
                  <td style="width: 33%">Daily ReCalibration</td>
                  <td style="width: 33%">Periodic ReCalibration</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{str_selectedEquipment}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" style="width:100%;" (click)="recalibration('Daily')" *ngIf="bln_recalibrateDaily">
                      ReCalibrate</button>
                    <span class="label" style="margin-top:2px" style="background-color:grey;width:100%" *ngIf="bln_showDailyCalibration">Daily
                      ReCalibration Initiated </span>
                    <span class="label" style="margin-top:2px" style="background-color:grey;width:100%" *ngIf="bln_showRoutineCalibration">Routine
                      Calibration Pending </span>
                  </td>
                  <td>
                      <button class="btn btn-primary btn-sm" style="width:100%;" (click)="recalibration('Periodic')" *ngIf="bln_recalibratePeriodic">
                          ReCalibrate</button>
                        <span class="label" style="margin-top:2px" style="background-color:grey;width:100%" *ngIf="bln_showDailyCalibrationPeriodic">Daily
                          ReCalibration Initiated </span>
                        <span class="label" style="margin-top:2px" style="background-color:grey;width:100%" *ngIf="bln_showRoutineCalibrationPeriodic">Routine
                          Calibration Pending </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
