.disabledBtn
{
cursor: not-allowed;
}
.mat-form-field {
  display: inherit;
  position: relative;
  text-align: left;
}

thead
{
  background-color:#4680ffeb;
  color:white;
  text-align: center;
}
td
{
  height:5%;
  text-align: center;
  color:black;
}


