<mat-card-header >
  <div class="row" style="background-color:#4680FF;padding-top:10px;">
    <div class="col-lg-12">
      <p style="font-size:15px;color:white"><b>{{data.message}}</b></p>
    </div>
    </div>
 </mat-card-header><br>
 <mat-card-content>
   <div class="">
     <form [formGroup]="_remarkForm" (submit)="onSubmit()">
       <div class="form-group">
         <div class="row">
           <div class="col-md-12">
             <textarea placeholder="Please enter the remark for {{data.message}}" type="text" rows= "5" formControlName="reason" class="form-control" [ngClass]="{'is-invalid':_remarkForm.get('reason').touched && _remarkForm.get('reason').invalid}" maxlength="100"></textarea>
              <div class="invalid-feedback">
                <div style="color:red;margin-top:3px;font-weight: bold;
                font-size: 14px;">Remark cannot be Blank</div>
              </div>
           </div>
         </div><hr>
         <div class="row">
           <div class="col-md-12">
               <button type="submit" [disabled]="!_remarkForm.valid" [ngClass]="{'disabledBtn' : !_remarkForm.valid}" class="btn btn-primary">Ok</button>
                &nbsp;&nbsp;
                <button type="button" (click) ="reset()" class="btn btn-default">Reset </button>
                &nbsp;&nbsp;
                <button type="button" (click) ="closeModal()" class="btn btn-default">Close</button>
             </div>
         </div>
       </div>

     </form>
   </div>
 </mat-card-content>
